.page-header{
	position: relative;
    background-color: #12CDAE;
    height: 90px;
    line-height: 50px;
    overflow: hidden;
    z-index: 2;
    margin: 0;
    border-bottom: 0;
}
h1{
	font-weight: bold; 
	color: #494847;
	font-size: 51px;
    text-align: center;
}
h2{
    font-size: 40px;
	text-align: center;
	font-family: 'Didact Gothic', sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}
/*login*/
/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}


/*fin login*/
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #333333;
   color: #f55e5e;
   text-align: center;
   padding: 20px 0 30px;
}


